<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
  <title>Company chat</title>
  <meta property="og:description" content="Connecting people">
  <link href="~/build/AllCss.css" asp-append-version="true" rel="stylesheet" />
</head>
<body>
  <div id="app" class="container height-100"></div>
</body>
<script src="~/build/AllScripts.js" asp-append-version="true"></script>
</html>
